<!DOCTYPE HTML>
<HTML>
<head>
  <title>hyphens</title>
  <link rel='stylesheet' type='text/css' ref='../assets/styles/app.css'>
</head>
<body>
  <img src='http://imgs.xkcd.com/comics/hyphen.jpg' id='xkcd-embed'>
  <form action='/' method='POST'>
    <input type='text' name='input' id='form-field'>
    <input type='submit' value='Go' id='submit-button'>
  </form>

  <%= content %>
</body>
</html>