<!DOCTYPE HTML>
<HTML>
<head>
  <title>hyphens</title>
  <link rel='stylesheet' type='text/css' href='/styles/reset.css'>
  <link rel='stylesheet' type='text/css' href='/styles/app.css'>
</head>
<body>
  <a href='https://github.com/deniseyu/learning-cuba.git'><nav id='github-link'>code</nav></a>
  <main>
    <img src='http://imgs.xkcd.com/comics/hyphen.jpg' id='xkcd-embed'>
    <form action='/' method='POST'>
      <input type='text' name='input' id='form-field' autocomplete='off'>
      <input type='submit' value='go' id='submit-button'>
    </form>
    <section id='output'>
      <%= content %>
    </section>
  </main>
</body>
</html>